:host {
    display: flex;
    flex: 1;
    flex-direction: column;
    border: 1px solid red;
    width: 100%;
    max-height: 8rem;
}

.search {
    display: flex;
    align-items: center;

    &--section {
        font-size: 2rem;

        &__search-text {
            font-size: 2rem;
            margin-right: 2rem;
        }

        button {
            font-size: 2rem;
            color: #fff;
            border-radius: 1rem;
            margin-left: 2rem;
            padding: .5rem;
            background-color: #8a2be2;

            &:disabled {
                background-color: gray;
                pointer-events: none;

                &:hover {
                    cursor: not-allowed;
                }
            }

            &:hover {
                background-color: #7024b8;
                cursor: pointer;
            }
        }
    }

    &--error {
        color: #ff0000;
    }
}