:host {
    display: flex;
    flex: 1;
    max-height: 10rem;
    min-height: 10rem;
    border: 1px solid red;
    margin: 0.5rem 1rem;
    padding: 0.5rem;
}

.beer {
    &--details {
        display: flex;
        flex-flow: column;
        flex: 1;
        border: 1px solid black;

        &__name {
            font-size: 2.5rem;
        }

        &__description {
            font-size: 2rem;
        }
    }
}